.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}

/* ------------ SIDE BAR----------------- */
/* Sidebar expand/collapse animation */
.sidebar {
  width: 16rem;
  transition: width 0.3s ease-in-out;
}

.sidebar.collapsed {
  width: 4rem;
}
/* Ensures SweetAlert2 is on top */
.swal2-container {
  z-index: 1500 !important; /* Higher than MUI modal's default */
}
